@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.button{
    color: white;
    background-color: rgb(162, 39, 14);
    width: 230px;
    height: 50px;
    cursor: pointer;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-width: 0px;
    margin-top: 30%;
    margin-left: 40%;
    align-items: center;

}
.button:hover {
    background-color: rgb(199, 134, 49);
}





*{
    margin:0px;
    padding:0px;
}
/*Header Styling*/

#top{
    color:rgb(245, 10, 10);
    text-align:center;
    font-size:46px;
    font-family: 'Ubuntu Mono', monospace;
}
#top1{
    text-align:center;
    color:black;
    font-size:21px;
    font-family: 'Ubuntu Mono', monospace;
}
/* Navigation bar styling*/

/*Navbar image styling*/
#navbar img{
    display:block;
    width: 50px;
    height:50px;
    margin:auto;
    margin-bottom: 3px;
}

/*Navbar Functionality*/
#navbar{
    display:flex;
    flex-direction: column;
    background-color: rgb(81, 80, 80);
    height: 14vh;
    width: 100vw;
    font-family: 'Ubuntu Mono', monospace;
    margin-top:10px;
   border: 2px solid black;
   border-radius:15px;
   padding-left: 650px;
   padding-top: 25px;
}


/*Navbar content functionality*/
#navcontent{
    display: flex;
    justify-content: center;
    font-size: 25px;
}


/*Navbar content styling*/
ul li{
    list-style: none;
    margin: 15px;
    border-radius: 20px;
}
ul li a{
    padding: 1px;
    color:rgb(185, 32, 32);
    text-decoration: none;
    border-radius:10px;
}
ul li a:hover{
    background-color: red;
    border-radius: 10px;
}

/* website background image designing */
#container1{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height:63vh;
}

/*Setting the background image using before pseudo selector*/ 
#container1::before{
    content:'';
    background: url("./1.jpg") no-repeat center center/cover;
    width: 100vw;
    height:59vh;
    position: absolute;
    top:0px;
    left: 0px;
    font-family: 'Ubuntu Mono', monospace;
    margin-right:45px;
    font-weight: bold;
    z-index: -1;
    opacity: 0.89;
    border: 2px solid black;
    border-bottom-left-radius: 100px;
}

#row1{
   color: black;
    font-weight:bold;
    font-size: 2rem;
    text-align: center;
    margin-top: 35px;
}
/*Button Styling*/
.btn{
    margin-top:85px;
    border: 2px solid white;
    border-radius:10px;
    background-color:rgb(12, 190, 206);
    font-size:25px;
    font-weight: bold;
    font-family: 'Ubuntu Mono', monospace;
    
}
.btn:hover{
    cursor: pointer;
    background-color: red;
}


#container3{
    display: flex;
    justify-content: space-evenly;
}
#row2{
    width:24vw;
    height:21vh;
    box-shadow: 2px 7px 16px 19px;
     margin-top:51px;
     margin-bottom: 51px;
     display: flex;
    justify-content: center;
     align-items: flex-end;
     position: relative;
     margin-right: 38px;
     border-radius: 40px;
}
#row2::before{
    content: '';
    background: url('2.jpeg') no-repeat center center/cover;
    position: absolute;
    top: 0px;
    left:0px;
    width: 24vw;
    height:21vh;
    z-index: -1;
    border-radius: 40px;
}
#row3{
    position: relative;
    width: 24vw;
    height:21vh;
    display: flex;
    justify-content: center;
     align-items: flex-end;
     box-shadow: 2px 7px 16px 19px;
     margin-top:51px;
     margin-bottom: 51px;
     
     margin-left: 38px;
     border-radius: 40px;
}
#row3::before{
    content: '';
    background: url('3.jpeg') no-repeat center center/cover;
    position: absolute;
    top:0px;
    left:0px;
    width: 24vw;
    height:21vh;
    z-index: -1;
    border-radius: 40px;
}

#top3{
    text-align: center;
    color:rgb(13, 13, 13);
    font-family: 'Ubuntu Mono', monospace;
}
#container4{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    margin: 41px;
    padding-top: 65px;
}  
#row4{
    width: 29vw;
    height: 360px;
    border: 2px solid black;
    background:url('politics.jpg') no-repeat center center/cover; 
    display: flex;
    justify-content:center;
    align-items:flex-end;
    border-radius: 15px;
}
#row5{
    width: 29vw;
    height: 360px;
    border: 2px solid black;
    background:url('edu.jpg') no-repeat center center/cover;
    display: flex;
    justify-content:center;
    align-items:flex-end;
    border-radius: 15px;
}
#row6{
    width: 30vw;
    height: 360px;
    border: 2px solid black;
    background:url('events.jpg') no-repeat center center/cover;
    display: flex;
    justify-content:center;
    align-items:flex-end;
    border-radius: 15px;
}
/*Designing the footer*/
footer{
    text-align: center;
}
/*Designing of Contact Us*/
#ContactUs{
    width:100vw;
    height:100vh;
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: gray;
}
.form-shape input, .form-shape select, .form-shape textarea{
   width: 92%;
   padding: 0.5rem;
}
/*Changing the color of placeholder*/
::placeholder{                  
    color:gray;
}
/*Making the webpage responsive using media queries*/
@media only screen and (max-width:1131px){
    #row4{
        width: 42vw;
    }
    #row5{
        width:45vw;
    }
    #row6{
        margin-top: 20px;
        width:90vw;
    }
}
@media only screen and (min-width:600px) and (max-width:781px)
{
    #row4{
        width:84vw;
        margin: auto;
        margin-left: 22px;
    }
    #row5{
        
        width:84vw;
        margin: auto;
        margin-top: 20px;
        margin-left: 22px;
    }
    #row6{
        width:84vw;
        margin: auto;
        margin-top: 20px;
        margin-left: 22px;
    }
}
@media only screen and (max-width:600px){
    #row4{
        width:78vw;
        margin: auto;
        margin-left: 3px;
    }
    #row5{
        
        width:78vw;
        margin: auto;
        margin-top: 20px;
        margin-left: 3px;
    }
    #row6{
        width:78vw;
        margin: auto;
        margin-top: 20px;
        margin-left: 3px;
    }
}
@media only screen and (min-height:1000px){
    #navbar{
        height:10vh;
    }
    #container1::before{
        height:39vh;
    }
    #container1{
        height:44vh
    }
}


.dating-bg {
    background: url("bg.jpg");
    height: 100vh;
    width: 100%;
    background-size: cover;
}

.content{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    line-height: 1;
    text-align: center;
    color: rgb(13, 16, 14);
    text-shadow: 2px 2px 2px black;
    padding-bottom: 100px;
}    
.button2 {
    margin-top: 18px;
    color: white;
    background-color: rgb(237, 84, 110);
    width: 130px;
    height: 36px;
    border-radius: 6px;
    border-width: 0px;
    cursor: pointer;
    margin: 5px;
  

}
.button2:hover {
    background-color: rgb(215, 13, 47);
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 260px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}


.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}
.button3 {
    color: white;
    background-color: rgb(21, 79, 124);
    border-radius: 6px;
    border-width: 0px;
    cursor: pointer;
    margin: 6px;
    margin-left: 650px;
    width: 150px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
a {
    text-decoration: none;
}
.button3:hover {
    background-color: rgb(231, 18, 53);
}

.abcd{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
#form{
    width: 45%;
    margin: auto;
    display: block;
    font-family: lato, sans-serif;
    font-size: 20px;
    text-align: center;
}
h1{
    text-align: center;
    font-size: 24px;
    padding: 20px 1cm;
    font-weight: bold;
    cursor: pointer;
}
fieldset{
    border-radius: 15px 15px 15px 15px;
    background:url(vote.jpg) no-repeat;
    background-size: cover;
}
lable{
    font-weight: bold;
    display: inline-block;
    margin: 5px;
}
input[type=date],[type-number],[type-text]{
    background: #fff;
    border: 1px solid #000;
    border-radius: 2px;
    border-width: 1px;
    color: #36454b;
    font-size: 15px;
    margin: 5px;
    padding: 12px 12px;
    display: inline-block;
}
input[type-radio].g{
    margin-left: 35px;
}
input[type-submit]{
    background-color: #000;
    color: #fff;
    padding: 15px 50px;
    text-align: center;
    font-size: 24px;
    margin: 12px 14px;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 4px;
}
.popup{
    width: 1000px;
    background: #fff;
    border-radius: 6px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    padding: 0 30px 30px;
}
.popup img{
    width: 100px;
    margin-top: -50px;
    border-radius: 50px;
    box-shadow: 0 2px 5px rgba(0,0,blue,alpha);
}
.popup h2{
    font-size: 35px;
    font-weight: 500px;
    margin: 30px 0 10px;
}
.popup button{
    width: 200px;
    margin: 50px;
    padding: 10px 0 ;
    background: rgb(25, 222, 38);
    border-radius: 6px;
    border: 0;
    outline: none;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}
.popup p{
    font-size: 25px;

}